.backgroundmask{
  width: 100%;
  min-height: 529px;
  left: 0;
  position: absolute;
  right: 0;
  background-color: #091156;
    opacity: 0.6;
}
.backgroundmask{
  height: 529px;
}
.businessslogan{
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
}
.slogan{
  position: absolute;
  top: 79px;
}