.section-vision-img img{
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  margin: 0 auto;

}
.landing-page {
  /* display: flex; */
  /* justify-content: space-between; */
}

@media (max-width: 1224px) {
  .section-vision-img{
    display: flex;
    justify-content: center;
  }
}