.section-vision-img img{
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  top: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}
.landing-page {
  /* display: flex; */
  /* justify-content: space-between; */
}
.section-vision-img {
  position: relative;
}

